:root {
  /**
       * colors
       */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --bittersweet: hsl(0, 100%, 70%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);

  /**
       * typography
       */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
      #RESET
    \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.rodape {
  background-color: rgb(218, 150, 175);
  border-color: rgb(218, 150, 175);
}

.Icones_Rodape_Redes {
  display: flex;
  justify-content: end;
  padding-right: 25px;
  width: 100%;
  background-color: rgb(218, 150, 175);
  border-color: rgb(218, 150, 175);
  font-size: 50px;
}
.Icones_Rodape_Redes i {
  margin: 3px 10px 3px 3px;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
html {
  font-family: "Poppins", sans-serif;

  -ms-scroll-chaining: none;
  overscroll-behavior: contain;

  scroll-behavior: smooth;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::-webkit-input-placeholder {
  font: inherit;
}

input::-moz-placeholder {
  font: inherit;
}

input:-ms-input-placeholder {
  font: inherit;
}

input::-ms-input-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: #fde9eb;
}

/**
     * scrollbar style
     */

.container {
  padding: 0 15px;
}

.has-scrollbar {
  padding-bottom: 5px;
}

.title {
  color: var(--eerie-black);

  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-left: 50px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
  font-family: "Acme", sans-serif;
  font-weight: 600;
  font-style: normal;
}

main {
  margin-top: 150px;
  background: #fde9eb;
}

/* .banner {
  margin: 30px 0;
}

.slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
  overflow: auto hidden;
  -webkit-scroll-snap-type: inline mandatory;
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-container::-webkit-scrollbar {
  height: 5px;
  padding: 0;
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: #ffb9d4;
  padding: 0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  padding: 0;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}

.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
}

.banner-subtitle {
  color: var(--salmon-pink);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: var(--eerie-black);
  font-size: var(--fs-1);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.banner-text {
  display: none;
}

.banner-btn {
  background: var(--salmon-pink);
  color: var(--white);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: var(--fs-11);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 4px 10px;
  -webkit-border-radius: var(--border-radius-sm);
  border-radius: var(--border-radius-sm);
  -webkit-transition: var(--transition-timing);
  -o-transition: var(--transition-timing);
  transition: var(--transition-timing);
}

.banner-btn:hover {
  background: var(--eerie-black);
} */

.category {
  margin-bottom: 30px;
}

.category-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: auto hidden;
}
.category-item-container::-webkit-scrollbar {
  height: 5px;
  padding: 0;
}

.category-item-container::-webkit-scrollbar-thumb {
  background-color: #ffb9d4;
  padding: 0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  padding: 0;
}

.category-item {
  background-color: #fcb8b8;
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--cultured);
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}

.category-img-box {
  background: var(--cultured);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
  -webkit-border-radius: var(--border-radius-sm);
  border-radius: var(--border-radius-sm);
}

.category-content-box {
  width: 100%;
}

.category-content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.category-item-title {
  color: var(--eerie-black);
  font-size: var(--fs-9);
  font-weight: var(--weight-600);
  text-transform: uppercase;
}

.category-item-amount {
  color: var(--sonic-silver);
  font-size: var(--fs-11);
}

.category-btn {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: capitalize;
}

.product-minimal {
  margin-bottom: 30px;
}

.product-minimal .product-showcase {
  margin-bottom: 10px;
}

.product-minimal .showcase-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -webkit-scroll-snap-type: inline mandatory;
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
}

.product-minimal .showcase-container {
  min-width: 100%;
  padding: 0 5px;
  overflow: hidden;
  scroll-snap-align: start;
}

.product-minimal .showcase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffe2e2;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--cultured);
  padding: 15px;
  -webkit-border-radius: var(--border-radius-md);
  border-radius: var(--border-radius-md);
}

.product-minimal .showcase:not(:last-child) {
  margin-bottom: 15px;
}

.product-minimal .showcase-content {
  width: -webkit-calc(100% - 85px);
  width: calc(100% - 85px);
}

.product-minimal .showcase-title {
  color: var(--eerie-black);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.product-minimal .showcase-category {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--davys-gray);
  font-size: var(--fs-8);
  text-transform: capitalize;
  margin-bottom: 3px;
}

.product-minimal .showcase-category:hover {
  color: var(--salmon-pink);
}

.product-minimal .price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.product-minimal .price {
  font-size: var(--fs-7);
  font-weight: var(--weight-700);
  color: var(--salmon-pink);
}

.product-minimal .price-box del {
  font-size: var(--fs-9);
  color: var(--sonic-silver);
}

@media (max-width: 1020px) {
  .category-item-container {
    justify-content: inherit !important;
  }
}

@media (min-width: 480px) {
  :root {
    --fs-1: 1.875rem;
  }

  @media (min-width: 570px) {
    .slider-item {
      aspect-ratio: 4 / 2;
    }

    .banner-content {
      background: none;
    }

    .category-item {
      min-width: -webkit-calc(50% - 15px);
      min-width: calc(50% - 15px);
    }

    .product-minimal .showcase-container {
      min-width: 50%;
    }

    .product-featured .showcase-img {
      max-width: 450px;
      margin: auto;
    }

    .product-featured .countdown {
      gap: 20px;
    }
  }

  @media (min-width: 768px) {
    :root {
      --fs-1: 2.375rem;
    }

    html {
      font-size: 17px;
    }

    .container {
      max-width: 750px;
      margin: auto;
    }

    .slider-item {
      aspect-ratio: auto;
      height: 350px;
    }

    .banner-content {
      max-width: 380px;
    }

    .banner-subtitle {
      --fs-7: 1.25rem;
    }

    .banner-text {
      --fs-7: 1.125rem;
    }

    .banner-text b {
      --fs-2: 1.875rem;
    }

    .banner-btn {
      --fs-11: 0.75rem;
    }

    .category-img-box {
      padding: 20px;
    }

    .product-minimal {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      gap: 20px;
    }

    .product-minimal .product-showcase {
      min-width: -webkit-calc(50% - 10px);
      min-width: calc(50% - 10px);
      width: -webkit-calc(50% - 10px);
      width: calc(50% - 10px);
    }

    .product-minimal .showcase-container {
      min-width: 100%;
    }

    .product-featured .showcase {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 20px;
    }

    .product-featured .showcase-img {
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
    }

    .product-featured .showcase-content {
      margin-top: 0;
      min-width: -webkit-calc(100% - 345px);
      min-width: calc(100% - 345px);
    }
  }
}
@media (min-width: 1024px) {
  :root {
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  .container {
    max-width: 980px;
  }

  .category-item {
    min-width: -webkit-calc(33.33% - 20px);
    min-width: calc(33.33% - 20px);
  }

  .category-img-box {
    padding: 10px;
  }

  .product-container .container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

  .sidebar {
    --fs-5: 0.941rem;

    position: -webkit-sticky;

    position: sticky;
    top: 30px;
    left: 0;
    padding: 0;
    min-width: -webkit-calc(25% - 15px);
    min-width: calc(25% - 15px);
    margin-bottom: 30px;
    visibility: visible;
    overflow-y: auto;
    -ms-scroll-chaining: chained;
    overscroll-behavior: auto;
    z-index: 10; /*Era 0*/
  }

  .sidebar-category {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
  }

  .sidebar-close-btn {
    display: none;
  }

  .product-box {
    min-width: -webkit-calc(75% - 15px);
    min-width: calc(75% - 15px);
  }

  .product-minimal {
    margin-bottom: 20px;
  }
  .product-minimal {
    margin: 0 3% 0 3%;
  }

  .product-showcase .title {
    text-align: center;
  }

  .product-minimal .product-showcase {
    min-width: -webkit-calc(33.33% - 14px);
    min-width: calc(33.33% - 14px);
    width: -webkit-calc(33.33% - 14px);
    width: calc(33.33% - 14px);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .product-minimal .showcase-wrapper {
    gap: 10px;
  }

  .product-minimal .showcase-container {
    padding: 2px;
  }

  .product-featured .countdown-content {
    padding: 5px 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .slider-item:last-child .banner-img {
    -o-object-position: top;
    object-position: top;
  }

  .category-item {
    min-width: -webkit-calc(25% - 22.5px);
    min-width: calc(25% - 22.5px);
  }

  .category-item-title {
    --fs-9: 0.824rem;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  .container {
    max-width: 1350px;
  }

  .slider-item {
    height: 450px;
  }

  .banner-content {
    left: 110px;
    max-width: 460px;
  }
}
